<div class="bodyTwo">
	<header>
 <div class="logo">
  </div>
  
</header>
<h1>Sitios de interés y turísticos</h1>


    <% @sites.each do |site| %>
 
     <div class="nombreSitio"><%= site.name %></div>
     <div class="imagenSitio"><%= image_tag site.image_name.url %></div>
    
      <%= link_to 'Show', site %>
      <%= link_to 'Edit', edit_site_path(site) %>
      <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>

<%= link_to 'New Site', new_site_path %>
</div>

<footer>
  
</footer>

