<div class="bodyTwo">
  <header>
 <div class="logo">
  </div>
  
</header>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>


<p>
  <strong>Image:</strong>
<%= image_tag @site.image.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @site.location %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @site.contact %>
</p>

<p>
  <strong>Category:</strong>
  <%= @site.category_id %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
</div>

<footer></footer>
