<div class="fondo">
	<header>

		<div class="logo">

		</div>

		<% if user_signed_in? %>
			<%= current_user.email %>
			<%= link_to "Logout", destroy_session_path(current_user), method: 
			:delete %><br />
		<% end %>

	</header>
<div class="slogan">
	<p>Sitios de interés  y turísticos</p>
</div>
<div class="content_home">
	<h1>Bienvenido a Medellín</h1>
	<span>Dime cuanto tienes y te diré a donde ir</span><br>

	<%= form_tag({controller: :sites, action: :index_per_price}, method: :get) do %>
    	<%= text_field_tag :price %>
    	<%= submit_tag %>
    <% end %>

	<div><a href="http://localhost:3000/categories"> Ver guía </a></div> 
</div>
<footer>
	
</footer>
</div> 
	

